
{% load static %}

<!DOCTYPE html> 

<html>
<head><title>Affectivity</title>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
      <link rel="shortcut icon" href='http://fxpaper.fatalsystem.com/images/wallpapers/3d/fractal/fractal_152.jpg' />
     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/blueimp-gallery.css" %}' />
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/blueimp-gallery.min.css" %}' />
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/blueimp-gallery-indicator.css" %}' />
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/blueimp-gallery.js" %}' />
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/blueimp-gallery-fullscreen.js" %}' />
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/blueimp-gallery-indicator.js" %}' />
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/blueimp-helper.js" %}' />
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/jquery.blueimp-gallery.js" %}' />
     <link rel='stylesheet' typ='text/css' href='{% static "assets/css/jquery.blueimp-gallery.min.js" %}' />
       <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
     <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
     <script src="/mapbox.js/assets/csv2geojson.js"></script>
     <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
     <!--[if lte IE 8]>
      <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
      <![endif]-->
  
  <style>
    #map {  
  width:1200px;
  border-radius: 5px;
  padding:10px;
  height:620px;
  margin-top:-5px;
  margin-left:-600px;
  top:50%;
  left:50%;   
  }

  </style>
</head>	

<body style = "background-color:#E8E8E8">
<!--Navbar-->
<nav class="navbar navbar-inverse" role="navigation"
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://github.com/Fraktal">Fraktal</a>
  </div>
</nav>   

<!--Mapbox Link
<div style="width:1200px; height: 620; margin:0 auto;">	
	<iframe width='1200' height='600' frameBorder='0' src='http://a.tiles.mapbox.com/v3/fraktal.TweetLocation.html#3/19.973348786110602/-0.087890625'></iframe>
</div>	-->

<div id='map'></div>
<script type='text/javascript'>
var map = L.mapbox.map('map', 'fraktal.map-l6sktzb9');
  //var marker = L.marker([51.5, -0.09]).addTo(map);
  var circle = L.circle([51.508, -0.11], 5000, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5
}).addTo(map);
    var circle = L.circle([51.509, -0.08], 5000, {
    color: 'blue',
    fillColor: 'blue',
    fillOpacity: 0.5
}).addTo(map);

$.ajax({
    // you will need to replace this URL with the URL to your CSV file.
    url: '{% static "assets/happy.csv" %}',
    success: function csvLoad(csv) {
        markerLayer.setGeoJSON(csv2geojson.csv2geojson(csv));
    }
});    
</script>

<div style="width:1200px; margin:0 auto; margin-top: 100px;">
<h2 style="margin-top: 40px">Tracking "Happiness" and "Sadness" via Tweets</h2>
<div style="margin-top: 20px">
<p class="lead">We are researching sentiment analysis using location data from tweets to try and determine patterns of growth and decay of happiness and sadness in the world. The tweets that are being tracked are mined from the twitter streaming API and only the ones tagged with a <strong>":)"</strong> and <strong>":("</strong>. By tracking location metadata from tweets, we hope to determine if the emoticon tagged tweets spread like disease contact network patterns. 
</p>
</div>

<p class="lead">
This code is being developed by <strong>Todd Ervin</strong> at the <strong>University of North Carolina Asheville.</strong> The mathematical analysis is being performed by <strong>Janine Haugh, Phd.</strong></p>

<p class="lead">Below are snapshots of the different patterns that the tweets assume. The theory is that the patterns can be related to real world occurences and the weather.   
</p>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


<!--header-->
<h3 style="width:1200px; margin:0 auto; margin-top: 100px;"><span class="label label-default"style= "background-color:#6B6B6B">October 2013</span></h3>

<!--images-->
<div style="margin-bottom: 100px">
  <div id="links" style="width:1208px; margin:0 auto;">
    <a href="{% static "assets/img/img_7.png" %}" title="Oct 4" height = "400" data-gallery>
        <img src="{% static "assets/img/img_7.png" %}" alt="Oct 4" width="400">
    </a>
        <a href="{% static "assets/img/img_6.png" %}" title="Oct 5" data-gallery>
        <img src="{% static "assets/img/img_6.png" %}" alt="Oct 5" width="400">
    </a>
        <a href="{% static "assets/img/img_5.png" %}" title="Oct 6" data-gallery>
        <img src="{% static "assets/img/img_5.png" %}" alt="Oct 6" width="400">
    </a>
        <a href="{% static "assets/img/img_4.png" %}" title="Oct 7" data-gallery>
        <img src="{% static "assets/img/img_4.png" %}" alt="Oct 7" width="400">
    </a>
        <a href="{% static "assets/img/img_3.png" %}" title="Oct 8" data-gallery>
        <img src="{% static "assets/img/img_3.png" %}" alt="Oct 8" width="400">
    </a>
  </div>
</div>

<!--header-->
<h3 style="width:1200px; margin:0 auto; margin-top: 100px;"><span class="label label-default" style="background-color:#6B6B6B">November 2013</span></h3>

<!--images-->
<div style="margin-bottom: 100px">
  <div id="links" style="width:1208px; margin:0 auto;">
    <a href="{% static "assets/img/img_7.png" %}" title="Nov 10" height = "400" data-gallery>
        <img src="{% static "assets/img/img_7.png" %}" alt="Nov 10" width="400">
    </a>
        <a href="{% static "assets/img/img_6.png" %}" title="Nov 11" data-gallery>
        <img src="{% static "assets/img/img_6.png" %}" alt="Nov 11" width="400">
    </a>
        <a href="{% static "assets/img/img_5.png" %}" title="Nov 12" data-gallery>
        <img src="{% static "assets/img/img_5.png" %}" alt="Nov 12" width="400">
    </a>
        <a href="{% static "assets/img/img_4.png" %}" title="Nov 13" data-gallery>
        <img src="{% static "assets/img/img_4.png" %}" alt="Nov 13" width="400">
    </a>
        <a href="{% static "assets/img/img_3.png" %}" title="Nov 14" data-gallery>
        <img src="{% static "assets/img/img_3.png" %}" alt="Nov 14" width="400">
    </a>
  </div>
</div>


<!--header-->
<h3 style="width:1200px; margin:0 auto; margin-top: 100px;"><span class="label label-default" style="background-color:#6B6B6B">December 2013</span></h3>

<!--images-->
<div style="margin-bottom: 100px">
  <div id="links" style="width:1208px; margin:0 auto;">
    <a href="{% static "assets/img/img_7.png" %}" title="Dec 3" height = "400" data-gallery>
        <img src="{% static "assets/img/img_7.png" %}" alt="Dec 3" width="400">
    </a>
        <a href="{% static "assets/img/img_7.png" %}" title="Dec 4" data-gallery>
        <img src="{% static "assets/img/img_7.png" %}" alt="Dec 5" width="400">
    </a>
        <a href="{% static "assets/img/img_7.png" %}" title="Dec 6" data-gallery>
        <img src="{% static "assets/img/img_7.png" %}" alt="Dec 6" width="400">
    </a>
        <a href="{% static "assets/img/img_7.png" %}" title="Dec 7" data-gallery>
        <img src="{% static "assets/img/img_7.png" %}" alt="Dec 7" width="400">
    </a>
        <a href="{% static "assets/img/img_7.png" %}" title="Dec 8" data-gallery>
        <img src="{% static "assets/img/img_7.png" %}" alt="Dec 8" width="400">
    </a>
  </div>
</div>


<!--Scripts-->
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script> 

<footer>
<div style="text-align:center">
    © Fraktal • UNCA 2013
</div>
</footer>

<link rel='stylesheet' typ='text/css' href='{% static "assets/css/blueimp-gallery.min.js" %}' />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>
</body>
</html>